@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,500&display=swap');

/* FONT PROPS
 * -----------------------------------
 * font-family: 'Nunito', sans-serif;
 * font-weight: 400/600/700
 */

:root {
  --main-font-family: Poppins, sans-serif;

  --blue-100: #d6d9ea;
  --blue-200: #a4a9c8;
  --blue-800: #272c4d;

  --orange-400: #fd9690;
  --orange-500: #ff6a61;

  --red-500: #f44336;

  --gray-200: #f8f8ff;
  --gray-300: #cdcdcd;
  --gray-400: #949494;
  --gray-500: #727272;

  --tex-size-xs: 10px;
  --tex-size-sm: 12px;
  --text-size-md: 16px;
  --tex-size-lg: 28px;
}
.cogni__type__main {
  background-color: var(--orange-500);
  color: white;
  border: none;
}

.cogni__title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--tex-size-lg);
}

.cogni__sm-text {
  font-size: 12px;
}
.cogni__md-text {
  font-size: 16px;
}

.cogni__form-input {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: var(--gray-400);
  transition: ease-in 0.2s;
  height: 35px;
  box-sizing: border-box;
  font-family: var(--main-font-family);
}
.cogni__form-input:focus {
  border-width: 0 0 2px 0;
  border-color: var(--gray-400);
}
.cogni__form-input:hover {
  border-width: 0 0 2px 0;
  border-color: #202020;
}
.cogni__form-input::placeholder {
  font-family: var(--main-font-family);
  font-size: var(--tex-size-sm);
}

.cogni__link {
  color: var(--orange-500);
  text-decoration: underline;
  cursor: pointer;
}

.cogni__navbar {
  flex-wrap: wrap;
  gap: 12px;
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--blue-100);
}

.cogni__nav-link {
  cursor: pointer;
  padding: 3px 12px;
  border-radius: 3px;
  background-color: var(--orange-500);
}

.cogni__nav-link p {
  color: white;
}

.cogni__goback-button {
  border: none;
  padding: 2px 8px;
}

.cogni__default-select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--blue-200);
  outline: none;
  cursor: pointer;
}

.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar__logo-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cogni__text-xs {
  font-family: var(--main-font-family);
  font-size: var(--tex-size-sm);
}

.mr-sm {
  margin-right: 12px;
}
.mr-xs {
  margin-right: 8px;
}
.mr-md {
  margin-right: 16px;
}
.mb-sm {
  margin-bottom: 12px;
}
.mb-md {
  margin-bottom: 24px;
}
.mt-sm {
  margin-top: 12px;
}
.mt-md {
  margin-top: 24px;
}
.mt-lg {
  margin-top: 42px;
}

.w-100 {
  width: 100%;
}

.p-md {
  padding: 16px;
}

.px-sm {
  padding-left: 12px;
  padding-right: 12px;
}
.py-sm {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

.wg-md {
  font-weight: 600;
}

.d-none {
  display: none;
}

main,
p,
li,
ul {
  margin: 0;
  padding: 0;
}
main {
  background-color: var(--gray-200);
}
p {
  font-family: 'Nunito', sans-serif;
  color: var(--blue-800);
}

button {
  background-color: white;
  border: 1px var(--gray-400) solid;
  padding: 8px 16px;
  font-family: var(--main-font-family);
  border-radius: 5px;
  font-weight: 700;
  color: var(--blue-800);
  cursor: pointer;
  font-size: var(--tex-size-md);
}
input[type='checkbox'] {
  cursor: pointer;
}

.app-wrapper {
  margin: auto;
  max-width: 600px;
  padding: 32px;
}
.app-page {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 16px -3px #a4a9c8;
  box-shadow: 1px 3px 16px -3px #a4a9c8;
  display: none;
}

.login__logo-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  align-items: center;
  border-radius: 10px;
  background-color: #f8f8ff;
  opacity: 0.8;
  background: linear-gradient(135deg, #dedfeb55 25%, transparent 25%) -33px 0/
      66px 66px,
    linear-gradient(225deg, #dedfeb 25%, transparent 25%) -33px 0/ 66px 66px,
    linear-gradient(315deg, #dedfeb55 25%, transparent 25%) 0px 0/ 66px 66px,
    linear-gradient(45deg, #dedfeb 25%, #f8f8ff 25%) 0px 0/ 66px 66px;
}
.login__form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 32px 64px 32px;
  align-items: center;
}
.login__form-wrapper {
  width: 420px;
}
@media (max-width: 640px) {
  .login__form-wrapper {
    width: 350px;
  }
}
@media (max-width: 500px) {
  .login__form-wrapper {
    width: 100%;
  }
}

.login__secret-token-link {
  display: flex;
  justify-content: flex-end;
}

.login__form-button:hover {
  opacity: 0.9;
}
.login__form-button:focus {
  opacity: 0.6;
}
.login-error {
  text-align: center;
  color: var(--red-500);
  display: none;
}

/* Experiments styles */

.main-navbar {
  justify-content: space-between;
}

.experiments-options {
  display: flex;
  justify-content: flex-end;
}

.experiments-select {
  border: none;
  background-color: var(--orange-500);
  color: white;
}

.experiments-searchbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-100);
  border-radius: 5px;
}
.experiments-searchbar-wrapper button {
  padding: 0 initial;
  border: none;
  background-color: var(--blue-100);
  border-radius: 0;
  color: white;
}

.experiments-search-input {
  margin: 0;
  padding-left: 12px;
  border: none;
  color: var(--blue-200);
}
.experiments-search-input::placeholder {
  color: var(--blue-100);
}

.experiment-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 12px;
}

.experiment-card {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: var(--gray-200);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in 0.2s;
  position: relative;
  overflow: hidden;
}

.experiment-card:hover {
  -webkit-box-shadow: 1px 3px 16px -3px #a4a9c8;
  box-shadow: 1px 3px 16px -3px #a4a9c8;
}
.exp-card-header {
  position: relative;
  height: 40px;
}
.exp-card-bg-img {
  top: -10px;
  height: 40px;
  width: 110%;
  position: absolute;
  background-image: url('https://app.cogniflow.ai/img/imgTextPattern.png');
  transform: rotate(7deg);
}
.exp-card-header-logos {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.exp-card-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  position: relative;
  background-color: white;
  width: 20px;
  height: 20px;
  /* margin: 8px 0 0 10px; */
  border-radius: 8px;
}

.exp-card-logo {
  width: 100%;
  height: 100%;
}

.exp-card-content {
  padding: 0 6px 6px 6px;
}

.exp-card-title {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #f8f8ff;
  /* opacity: 0.8;
  background: linear-gradient(135deg, #dedfeb55 25%, transparent 25%) -33px 0/
      66px 66px,
    linear-gradient(225deg, #dedfeb 25%, transparent 25%) -33px 0/ 66px 66px,
    linear-gradient(315deg, #dedfeb55 25%, transparent 25%) 0px 0/ 66px 66px,
    linear-gradient(45deg, #dedfeb 25%, #f8f8ff 25%) 0px 0/ 66px 66px; */

  padding: 10px 12px;
}
.exp-card-title p {
  color: var(--blue-800);
  font-size: var(--tex-size-md);
  text-align: center;
  line-height: 16px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.exp-card-body {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp-card-body p {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
}

.exp-card-time {
  padding: 6px 12px;
}
.exp-card-time .exp-card-time-label {
  font-weight: 700;
}
.exp-card-time p {
  font-size: var(--tex-size-sm);
}

/* Run model page */

.experiment-go-back,
.experiment-name,
.experiment-nav-item-void {
  flex: 1;
}
.experiment-go-back {
  display: flex;
}

.cogni__arrow-icon::after {
  content: '\2190';
}
.experiment-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--blue-800);
  text-align: center;
}

.run-select-field div {
  display: flex;
  justify-content: center;
}
.run-select-field p {
  color: var(--orange-500);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: var(--tex-size-sm);

  text-align: center;
}
.run-select-field select {
  border: none;
  outline: none;
  background-color: var(--orange-500);
  color: white;
  font-family: var(--main-font-family);
  font-weight: 700;
  text-align: center;
}

.run-select-field option {
  border: none;
  outline: none;
  font-weight: 700;
  padding: 16px 0;
}

.run-options-bar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  gap: 12px;
}

.run-checkboxes-wrapper {
  display: flex;
  align-items: end;
  gap: 12px;
}
.run-dropdowns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: 100%;
}

.run-experiment-wrapper {
  display: flex;
  justify-content: center;
}

.run-cells-range {
  padding-bottom: 0;
}

@media (max-width: 595px) {
  .run-cells-range {
    justify-content: center;
  }
}
.run-cells-range-items {
  display: flex;
  align-items: end;
  gap: 40px;
}

@media (max-width: 440px) {
  .run-range-input-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }
  .run-cells-range-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .run-cells-range-items .run-checkbox-label {
    /* width: 100%; */
    text-align: center;
  }
}

.run-cells-range-items p {
  font-size: var(--tex-size-md);
  font-weight: 700;
  color: var(--blue-800);
  width: 180px;
  text-align: end;
}
.run-cells-range-items .cogni__form-input {
  font-weight: 700;
  color: var(--orange-500);
  width: 80px;
}

.run-labels-wrapper {
  border: 1px solid var(--gray-300);
  border-radius: 5px;
}

.run-values {
  color: var(--blue-800);
  font-weight: 700;
}
.run-labels {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-300);
  padding: 8px 0;
}

.run-labels:last-child {
  border-bottom: none;
}

.run-progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.run-progress-wrapper p {
  display: flex;
  align-items: center;
}
.run-progress-wrapper button {
  padding: 0 12px;
  background-color: var(--orange-500);
  color: white;
  border: none;
  display: none;
}

.run-experiment-button {
  background-color: var(--orange-500);
  color: white;
  border: none;
}

.edit-warning {
  margin-top: 12px;
  background-color: #ffffce;
  text-align: center;
}
.active {
  display: block;
}
